body{
    background-color: #D7DEF7;
}

#div_desktop{
    background-color: #000;
    width: 800px;
    height: 600px;
    display: none;
}

h1{
    text-align: center;
    margin:auto;
}
#div_containner{
    text-align: center;
    margin:auto;
}
#div_desktop{
    text-align: center;
    margin:auto;
}
#div_chat{
    /*display: none;*/
}
