{% extends 'layout.html' %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
    <script>
    function emit(message, data){
        var json = JSON.stringify({0:message, 1: data})
        ws.send(json);
    }

    function showBot(data){
        var len = data.length - 3;
        data = data.substr(2, len);
        document.images["screen"].src = "data:image/png;base64," + data;
    }

    function on(event, data){
        if (event == "new chat"){
            var chatList = document.getElementById("chat-list");
            var messageBox = document.getElementById("txt_message");
            messageBox.value = "";
            chatList.innerHTML = "<li class='collection-item'>" + data.name + " - " + data.message + "</li><hr />" + chatList.innerHTML;
        } else if(event = "show desktop"){
            showBot(data);
        }
    }

//#################################################################

        var ws, domain, separator = "://", port = "", protocol = "ws" + separator, namespace = "/websocket";
        var flag = false;
        function onLoad() {
            if(location.port != "") port = ":" + location.port;
            if (location.protocol != 'http:') protocol = "wss" + separator;

            ws = new WebSocket(protocol + document.domain + port + namespace);

            ws.onmessage = function(e) {
                var data = eval('(' + e.data + ')');
                on(data["event"], data["data"]);
            };
        }

        function sendMsg() {
            var name = document.getElementById('txt_user').value;
            var message = document.getElementById('txt_message').value;
            var obj = {"name":name, "message": message};
            emit("new message", obj)
        }

        function startBot(){
            emit("start bot", {});
        }

        function exitBot(){
            emit("exit bot", {});
        }

    </script>
{% end head %}
{% block main %}

<body onload="onLoad();">
    <div id="div_chat">
        <strong>USER</strong>: <input type="text" name="txt_user" id="txt_user" />
        <strong>MESSAGE to Send:</strong>&nbsp;
        <input type="text" id="txt_message" maxlength="25" />
        &nbsp;<input type="button" onclick="sendMsg();" value="Send" />
    </div>
    <div id="div_botActions">
        <input type="button" name="btn_start" id="btn_start" value="START"/ onclick="startBot();">
        <input type="button" name="btn_exit" id="btn_exit" value="EXIT" onclick="exitBot();"/>
        <input type="button" name="btn_loadScript" id="btn_loadScript" value="LOAD SCRIPT"/>
        <input type="button" name="btn_runScript" id="btn_runScript" value="RUN SCRIPT"/>
        <input type="button" name="btn_saveScript" id="btn_saveScript" value="SAVE SCRIPT"/>
        <input type="button" name="btn_loadExcel" id="btn_loadExcel" value="DOWNLOAD EXCEL">
        <input type="button" name="btn_uploadExcel" id="btn_uploadExcel" value="UPLOAD EXCEL">
    </div>
    <div id="div_flash">

    </div>
    <br />
    <ul id="chat-list">
        {% if chats %}
            {% for chat in chats %}
            <li> {{ chat['name'] }} - {{ chat['message'] }} </li>
            <hr/>
            {% end %}
        {% end %}
    </ul>
    <br />
    <div id="div_actions">
        <input type="button" name="btn_showDesktop" id="btn_showDesktop" value="SHOW BOT">
    </div>
    <div id="div_desktop">
        <img width="800px" height="640px" id="screen" />
    </div>

</body>
{% end main %}
